<h2>Demande de Service</h2>



  <ul class="dropdown-menu">
   <li> <strong> Détails de l'operation
               </strong> </li>
             
      TODO
   <li> <strong> Raisons de l'operation
               </span></strong> </li>
             
      TODO
 
      <li> <strong> Etapes a valider (I)
               </strong> </li>
        TODO
                <li> <strong> Etapes a valider (F)
               </strong> </li>
        TODO
        
      <li> Autres Acteurs</li>
      TODO
       <li> Autres Infos</li>
      TODO
 </ul>
                                