{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}


  {% block stylesheets %}
{{ parent() }}
 <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
 <style>
.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
            .table {
                font-size: 11px;
                /* border-collapse: separate;*/
                /*  font-family: 'Times New Roman',Times,serif;*/
            }
            select option:hover {
                background-color: #b6d1fd;
}
            select#changements_searchfilter_idusers{
            height:150px;}
            label,.mondiv { color:#02195e; font-size: 12px;
    font-weight: normal;
    line-height: 20px;}
            
 div#mybutton {

	padding-top: 130px; 
	margin-left: 5px;
       }
        </style>
        
{% endblock %}

{% block content_header '' %}

{% block title %}
        PLANNING DES OPERATIONS 
{% endblock %}

{% block content %}

       <div id="matable">
     <table class="table table-striped table-bordered table-hover">
        {% for entity in myentity %}
             <tr>
             
            <td>{{ entity.id }}</td>
                            
             </tr>
             
    {% endfor %}
        </table>
         </div>
{% endblock %}