/* 
    Document   : certificatscenter
    Created on : 7 févr. 2013, 19:03:58
    Author     : manuroot
    Description:
        Purpose of the stylesheet follows.
*/

 /*
 http://colorschemedesigner.com/#3Q11Tw0w0w0w0
 
 */
 
.mywarn{ background-color: #fe8a05;}

h1 {
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
     font-size: 2.5em;
     text-shadow: 2px 2px 4px #bbb;
}
/*
h1 {

font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
font-style: normal;
color: black;
 font-size: 2.3em;
                padding: 0.1em 0 0;

text-shadow: 2px 2px 4px #bbb;
} */
/*
h1 {
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}*/


body {
    
background-image:url("/images/ravenna.png");
/*background-image:url("images/nasty_fabric.png");*/
}
/*
#footer {
    position: relative;
    bottom: 5px;
    height: 30px;
    width: 70%;
    margin:auto;

    border: whitesmoke; 
    clear: both; 
    text-align: center; 
    padding: 10px; 

   
}*/
#footer {
    border-style: solid solid solid solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221)  -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
     color: whitesmoke;

   /* background:#000000;*/
    /* background:#eaeaea;*/
    background-color: #737373;
    
    
     position: relative;
    bottom: 5px;
    height: 30px;
    width: 70%;
    /*background: url('images/bg_pied.png') repeat-x;*/
    margin:auto;

    clear: both; 
    text-align: center; 
    padding: 10px; 
}
tr.title {
    background-color: #737373;
}
tr.title th {
   
    line-height: 30px;
  
}
/*

.navbar {
background-color: #495b79;
border: none;
border-bottom: 2px solid #364359;
height: 90px;
color: #ffffff;
}*/