/*tr.single {
    background-color: #000000;
#f1f1f1;
} */
tr.single {
    background-color: #bbbbbb;
} 
tr.title {
    background-color: #bbbbbb;
    font-size: 12px;
}
tr.warningdate-left {
    background-color: #2e9500;
    /*  font-size:14px;*/
} 
.highlightBG { background:#5279a4; }
.free-day {
    background: #2e9500;
}

.free-day a {
    opacity: 0.7;
}
div.ui-datepicker {
    font-size: 95%;
}




#ShowHideContainer {
    padding-top:10px;
    padding-bottom:20px;}

.ajoutchange { float:right;margin-right:30px;}
.toggler { width: 500px; height: 200px; }
#button { padding: .25em 1em; text-decoration: none; }
#ShowHideBox { width: auto; height: auto; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }


