/*tr.single {
    background-color: #000000;
#f1f1f1;
} */
tr.single {
    background-color: #bbbbbb;
} 

tr.title {
     background-color: lightgrey;
    /*background-color: #AAAAAA;*/
    font-size: 12px;
}
/*
tr.title {
    background-color: #e4e4e4;
}
*/
tr.warningdate-left {
    background-color: #2e9500;
    /*  font-size:14px;*/
} 
.highlightBG { background:#5279a4; }
.free-day {
    background: #2e9500;
}

.free-day a {
    opacity: 0.7;
}
div.ui-datepicker {
    font-size: 95%;
}


#ShowHideContainer {
    padding-top:10px;
    padding-bottom:20px;}

.ajoutchange { float:right;margin-right:30px;}
.toggler { width: 500px; height: 200px; }
#button { padding: .25em 1em; text-decoration: none; }
#ShowHideBox { width: auto; height: auto; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }


  td.calendar{
        margin-top:5px;
         padding-top:5px;
          /*  background-color: #ABC6DD;*/
       background-color:gainsboro;
        font-size: 12px;
        text-align:center;
    }
    td.datas:hover {
    text-decoration: underline;
    background-color: rgb(255, 209, 0);
}

   .table-mybordered {
        width:auto;
        min-width:75%;
        margin-left:auto;
        margin-right:auto;
      box-shadow: 1px 1px 1px #999; 
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
 border-spacing: 1px;
    border-color: black -moz-use-text-color;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
    border-image: none;
    border-collapse: separate;
    border-radius: 6px 6px 6px 6px;
    margin-bottom:50px;
 text-align: left;
}
.table-mybordered   tr > td.calendar{
      padding-left:10px;
       padding-right:10px;
        padding-top:10px;
       padding-bottom:10px;
       text-align: left;
       vertical-align: top;
}

   /* .table-bordered {
        border-style: solid;
    border-width: 1px;
    border-color: black;
  
    border-collapse: collapse;
width:98%;
   
    }*/
  .table-condensed td {
    padding: 0px 0px;
  
}
  
     td {
    font-size: 12px;
    /*border-collapse: separate;*/
   /* font-family: 'Times New Roman',Times,serif;*/
}
      .input-append, .input-prepend {
  
    font-size: 0px;
    white-space: nowrap;
  padding-left:3px;
    float:left;
}

.table {
    font-size: 11px;
    border-collapse: separate;
  /*  font-family: 'Times New Roman',Times,serif;*/
}

tr.title th {
   
    line-height: 20px;
  
}
select {
width:180px;}
select.pattern-selector {
width:150px;
}