{% extends 'APYDataGridBundle::blocks.html.twig' %}


{% block grid_pager %}{% endblock %}

{% block grid_column_address_filter %}
<div class="btn btn-large btn-warning"> {{ column.id }}/</div>
{% endblock grid_column_address_filter %}

