           <div class="accordion" id="accordion2">
                  <div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
     <h4 class="ui-widget-header ui-corner-all">Tags</h4>
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
    {% block tags %}
    {% endblock %}
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
   <h4 class="ui-widget-header ui-corner-all">Commentaires</h4>
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
  {% block comments %}
  {% endblock %}
</div>
</div>
</div>
                      <div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
   <h4 class="ui-widget-header ui-corner-all">Categories</h4>
</a>
</div>
<div id="collapseThree" class="accordion-body collapse">
<div class="accordion-inner">
  {% block categories %}
                                  {% endblock %}
</div>
</div>
</div>
                    
                         <div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
   <h4 class="ui-widget-header ui-corner-all">Archives</h4>
</a>
</div>
<div id="collapse4" class="accordion-body collapse">
<div class="accordion-inner">
  {% block archives %}
                                  {% endblock %}
</div>
</div>
</div>
</div>