/*tr.single {
    background-color: #000000;
#f1f1f1;
} */
tr.single {
    background-color: #bbbbbb;
} 
tr.title {
    background-color: #AAAAAA;;
    /*#bbbbbb;*/
    font-size: 12px;
}
/*
tr.title {
    background-color: #AAAAAA;;
  
    font-size: 12px;
}*/

tr.warningdate-left {
    background-color: #2e9500;
    /*  font-size:14px;*/
} 
.highlightBG { background:#5279a4; }
.free-day {
    background: #2e9500;
}

.free-day a {
    opacity: 0.7;
}
div.ui-datepicker {
    font-size: 95%;
}




#ShowHideContainer {
    padding-top:10px;
    padding-bottom:20px;}

.ajoutchange { float:right;margin-right:30px;}
.toggler { width: 500px; height: 200px; }
#button { padding: .25em 1em; text-decoration: none; }
#ShowHideBox { width: auto; height: auto; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }


  td.calendar{
        margin-top:5px;
         padding-top:5px;
          /*  background-color: #ABC6DD;*/
       background-color:gainsboro;
        font-size: 12px;
        text-align:center;
    }
    td.datas:hover {
    text-decoration: underline;
    background-color: rgb(255, 209, 0);
}
 /*.table td {

    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}*/

  /*  table{
    border-style: solid;
    border-width: 1px;
    border-color: black;
  
    border-collapse: collapse;
width:98%;
   
    }*/
   .table-mybordered {
        width:auto;
        min-width:80%;
        margin-left:auto;
        margin-right:auto;
      box-shadow: 1px 1px 1px #999; 
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
 border-spacing: 1px;
    border-color: black -moz-use-text-color;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
    border-image: none;
    border-collapse: separate;
    border-radius: 6px 6px 6px 6px;
    margin-bottom:50px;
 
}
.table-mybordered   tr > td.calendar{
      padding-left:10px;
       padding-right:10px;
        padding-top:10px;
       padding-bottom:10px;
       text-align: left;
       vertical-align: top;
}

  
  .table-condensed td {
    padding: 0px 0px;
  
}
  


.main-col { width: 70%; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar {  padding: 10px; display: inline-block; }

body {background-color:#fff3bc;}
h2 {
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgb(187, 187, 187);
}
/*
th{
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
    font-size: 12px;
    padding: 5px;
    color: rgb(255, 255, 255);
}
*/
 
 
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0px;
    padding: 1em 1.4em;
    background: #fff3bc;
}
     

  table.view {
    font-size: 12px;
    color: rgb(1, 1, 1);
    border-spacing: 0px;
       min-width:400px;
}
 table.view {
    font-size: 11px;
   
    border-collapse: separate;
   
    font-family: 'Times New Roman',Times,serif;
}

  .ui-widget-content a {
    color: blue;
      font-size:12px;
}
a.mytab {
}
 .ui-widget-content a.fichier:hover {
    color: red;
    
}
.view td {
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding:5px;
    background-color: #d6d6d6;
}

.view td:hover {
    background-color: rgb(204, 204, 204);
}

.view td.viewlabel  {
    font-size: 14px;
    color: rgb(254, 254, 254);
    background-color: rgb(87, 87, 87);
    border-color: rgb(255, 255, 255);
}