services:
   application.relations.admin.projet:
      class: Application\RelationsBundle\Admin\ProjetAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Projets, label: Liste des Projets }
      arguments: [null, Application\RelationsBundle\Entity\Projet, ApplicationRelationsBundle:ProjetAdmin]   

   application.relations.admin.filetype:
      class: Application\RelationsBundle\Admin\FiletypeAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Projets, label: Liste des Types }
      arguments: [null, Application\RelationsBundle\Entity\Filetype, ApplicationRelationsBundle:FiletypeAdmin]   
 
        
   