{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
   
 div.btxt{padding-bottom:10px;}   
.mypad {margin-left:4px;
margin-right:4px;}

#description{
    background-color: #eaeaea;padding:10px;
    border:1px solid black;
} 
    
.mywell {
   min-height:100px;
   border:1px solid blue;
   padding:10px;
   margin:5px;
   background-color: #dedede;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
 }
</style>
    {% endblock %}
 
{% block title %}OPERATION: {{ entity.title }} 
{% endblock %}

{% block content %}

 {{ form_row(form) }}
<!----------Form Edit Event ----------------->
<div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="titreheader"></h3>
    </div>
    
    <div class="modal-body">
        {#{{ form(form) }}#}
        <form id="eventForm" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputTitle">Titre:</label>
                <div class="controls">
                    <input type="text" name="title" id="titleName" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
                </div>
            </div>
            <div class="control-group colorbg">
                <label class="control-label" for="color">Background Couleur:</label>
                <div class="controls">
                    <input id="color" name="color" type="text" id="color"/></div>
            </div>

            <div class="control-group colorfont">
                <label class="control-label" for="colorfont">Font Couleur:</label>
                <div class="controls">
                    <input id="colorfont" name="colorfont" type="text" id="colorfont"/></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description:</label>
                <div class="controls">
                    <textarea name="description" id="descriptionName" style="height:200px;margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
                    </textarea></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="when">Date:</label>
                <div class="controls controls-row" id="when" style="margin-top:5px;">
                </div>
            </div>
            <input type="hidden" id="apptStartTime"/>
            <input type="hidden" id="apptEndTime"/>
            <input type="hidden" id="apptAllDay" />
            <input type="hidden" id="apptId" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" id="cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>
<!----------Form Edit Event ----------------->
 
{% endblock %}
     {% block footer %} {% endblock %}